@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}

.light {
  background: #d1dae3;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(clock.png);
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.05), inset 0 15px 15px rgba(0, 0, 0, 0.05);
}

.light .clock {
  /* background: #d1dae3 url(clock.png); */
  background-size: cover;
  border: 4px solid #cad3dc;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
    10px 10px 10px rgba(0, 0, 0, 0.1),
    inset -8px -8px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.light .clock::before {
  background: #848385;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 75px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background: #ff4080;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  content: "";
  position: absolute;
  width: 2.1px;
  height: 150px;
  background: #f55e90;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.toggle {
  position: absolute;
  top: 30px;
  right: 100px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 50%;
  background: #d1dae3;
  color: #d1dae3;
  cursor: pointer;
}

.toggle:before {
  position: absolute;
  left: 27px;
  content: "Light Mode";
  font-family: "Zilla Slab";
  font-weight: 700;
  white-space: nowrap;
}

.light .toggle {
  background: #091921;
  color: #091921;
}

.light .toggle:before {
  content: "Dark Mode";
  font-family: "Zilla Slab";
  font-weight: 700;
  white-space: nowrap;
}

.myname {
  position: absolute;
  top: 30px;
  left: 50px;
  cursor: pointer;
  font-family: "Kalam";
  font-weight: bold;
}

@keyframes glow_name {
  0% {
    color: #9b5de5;
    text-shadow: 0 0 50px #9b5de5;
  }
  25% {
    color: #f15bb5;
    text-shadow: 0 0 50px #f15bb5;
  }
  50% {
    color: #fee440;
    text-shadow: 0 0 50px #fee440;
  }
  75% {
    color: #00bbf9;
    text-shadow: 0 0 70px #00bbf9;
  }
  100% {
    color: #00f5d4;
    text-shadow: 0 0 50px #00f5d4;
  }
}

.myname {
  animation: glow_name 2500ms infinite;
}

.hk {
  position: absolute;
  /* top: 68%; */
  align-items: center;
  font-family: "Great Vibes";
  /* color: #ff105e; */
  font-size: 108px;
  z-index: -108;
  opacity: 0.15;
  animation: glow_name 2500ms infinite;
  /* text-shadow: 0 0 50px #00f5d4; */
}
.box div {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 5px ridge;
}

.box div:nth-child(1) {
  top: 15%;
  left: 42%;
  border-color: #2d00f7;
  animation: animate_b 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 52%;
  border-color: #6a00f4;
  animation: animate_b 14s linear infinite;
}
.box div:nth-child(3) {
  top: 20%;
  left: 8%;
  border-color: #8900f2;
  animation: animate_b 9s linear infinite;
}
.box div:nth-child(4) {
  top: 35%;
  left: 65%;
  border-color: #a100f2;
  animation: animate_b 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  border-color: #f5cb5c;
  animation: animate_b 12s linear infinite;
}

.box div:nth-child(6) {
  top: 60%;
  left: 80%;
  border-color: #bc00dd;
  animation: animate_b 15s linear infinite;
}
.box div:nth-child(7) {
  top: 32%;
  left: 25%;
  border-color: #ff686b;
  animation: animate_b 16s linear infinite;
}
.box div:nth-child(8) {
  top: 90%;
  left: 25%;
  border-color: #db00b6;
  animation: animate_b 12s linear infinite;
}
.box div:nth-child(8) {
  top: 80%;
  left: 25%;
  border-color: #00bbf9;
  animation: animate_b 12s linear infinite;
}
.box div:nth-child(9) {
  top: 25%;
  left: 88%;
  border-color: #00f5d4;
  animation: animate_b 10s linear infinite;
}

@keyframes animate_b {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  50% {
    transform: scale(0.8) translateY(-45px) translateX(10px) rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
